@media screen and (min-width:540px) {
    .myname{
        font-size: 0.9rem;
    }
    .profession{
        font-size: 0.8rem;
    }
    header figure figcaption{
        margin-left: 10px;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav li a svg{
        width: 26px;
    }
    .aside{
        width: 92%;
        height: 66%;
    }
    .introSection{
        margin: 8% 10%;
    }
    .introSection .hello{
        font-size: 4.5rem;
    }
    .introSection h3 u{
        font-size: 3rem;
    }
    .introSection h3 span{
        font-size: 1.5rem;
    }
    .jym{
        font-size: 4rem;
    }
    .center_content{
        font-size: 0.9rem;
        padding: 30px 20px 20px 20px;
        width: 90%;
    }
    .titlepage{
        font-size: 1.2rem;
    }
    .aboutme, .second_title{
        font-size: 1.4rem;
    }
    .div_info_img{
        width: 310px;
        height: 350px;
    }
    .divinfo{
        padding: 30px 50px ;
    }
    .myinfo span{
        font-size: 0.8rem;
    }
    .titlecontent{
        font-size: 1rem;
        margin-top: 20px;
    }
    .progress-bar{
        height: 16px;
    }
    .ratings{
        font-size: 0.75rem;
    }
    .work, .exp{
        font-size: 1rem;
    }
    .projects_desc p{
        font-size: 0.8rem;
    }
    .projects_link_btn{
        width: 36%;
        margin-top: 10px;
        
    }
    .projects_link_btn ion-icon{
        font-size: 1rem;
    }
    #preview_projects img, #preview_projects video{
        max-width: 96vw;
    }
    .close_preview_box{
        font-size: 30px;
        right: 0;
    }
    .next_btn_projects, .prev_btn_projects{
        font-size: 3rem;
    }
    .service-container svg{
        width: 34px;
    }
    .service-work{
        font-size: 1rem;
    }
    .service-container{
        padding: 20px 26px;
    }
    .service-desc{
        font-size: 0.9rem;
    }
    .comments-container{
        width: 60%;
        margin: auto;
        
    }
    .comments{
        font-size: 0.9rem;
    }
    .name-profile svg{
        right: 70px;
    }
    .contact_container p{
        font-size: 1rem;
    }
    .contact_container p span{
        font-size: 0.9rem;
    }
    .contact_container ion-icon{
        font-size: 3rem;
        padding: 20px 26px;
    }
    .sendme{
        font-size: 1rem;
    }
    .input_contact, .input_contact::placeholder{
        font-size: 0.9rem;
    }
    .contact_input .submit_now{
        font-size: 0.9rem;
    }
    .socialstwo a ion-icon {
        font-size: 1.3rem;
    }
    footer{
        margin-left: 20px;
        
    }
    footer div{
        font-size: 0.9rem;
        
    }
    
    .dark-btn{
        padding: 10px;
    }
    .moon, .sunny{
        font-size: 0.9rem;
    }
    .modal-content{
        font-size: 0.9rem;
        padding: 30px;
    }
    .closeModal{
        font-size: 28px;
    }

}

@media screen and (min-width: 768px) {
    .fimg{
        width: 62px;
        border-radius: 36px;
    }
    .myname{
        font-size: 1.1rem;
    }
    .profession{
        font-size: 1rem;
    }
    .logo{
        font-size: 2rem;
    }
    .nav li a svg{
        width: 30px;
        height: 30px;
    }
    .aside{
        width: 94%;
    }
    .introSection{
        line-height: 1.3;
        margin: 14% 10%;
    }
    .introSection .hello{
        font-size: 6rem;
    }
    .introSection h3 u{
        font-size: 4rem;
    }
    .introSection h3 span{
        font-size: 1.7rem;
    }
    .jym{
        font-size: 5rem;
    }
    .titlepage{
        font-size: 1.5rem;
    }
    .center_content{
        font-size: 1.1rem;
        padding-top: 40px;
        width: 90%;
    }
    .aboutme, .second_title{
        font-size: 1.7rem;
    }
    .dlcv2{
        font-size: 1.1rem;
        padding: 20px 30px;
    }
    .div_info_img{
        width: 430px;
        height: 480px;
    }
    .divinfo{
        padding: 30px 60px;
    }
    .myinfo span{
        font-size: 1rem;
    }
    .titlecontent{
        font-size: 1.3rem;
    }
    .titlecontent svg{
        width: 24px;
    }
    .progress-bar{
        height: 24px;
        border-radius: 14px;
    }
    .ratings{
        font-size: 0.95rem;
    }
    .exp, .work{
        font-size: 1.2rem;
    }
    .projects_desc p{
        font-size: 1rem;
    }
    .projects_link_btn{
        width: 30%;
        margin-top: 20px;
        
    }
    .projects_link_btn ion-icon{
        font-size: 1.3rem;
    }
    #preview_projects img, #preview_projects video{
        max-width: 98vw;
    }
    .close_preview_box{
        font-size: 40px;
        top: -40px;
        right: 0;
    }
    .next_btn_projects, .prev_btn_projects{
        font-size: 4rem;
    }
    .service-container svg{
        width: 44px;
    }
    .service-work{
        font-size: 1.2rem;
    }
    .service-container{
        padding: 26px 36px;
    }
    .service-desc{
        font-size: 1.1rem;
    }
    .comments-container{
        width: 50%;
        margin: auto;
        padding: 30px 50px;
        
    }
    .comments{
        font-size: 1.1rem;
    }
    .others-comment{
        height: 50px;
    
    }
    .name-work{
        margin-bottom: 10px;
    }
    .comment-work{
        font-size: 0.9rem;
    }
    .name-profile svg{
        right: 140px;
        top: 26px;
        height: 60px;
    }
    .contact_container p{
        font-size: 1.2rem;
    }
    .contact_container p span{
        font-size: 1.1rem;
    }
    .contact_container ion-icon{
        font-size: 4rem;
        padding: 26px 30px;
        border-radius: 54px;
    }
    .sendme{
        font-size: 1.2rem;
    }
    .input_contact, .input_contact::placeholder{
        font-size: 1.1rem;
    }
    .contact_input .submit_now{
        font-size: 1.1rem;
        padding: 18px 28px;
    }
    .socialstwo a ion-icon {
        font-size: 1.8rem;
    }
    footer{
        margin-left: 20px;
        
    }
    footer div{
        font-size: 1.1rem;
        
    }
    .dark-btn{
        padding: 14px;
    }
    .moon, .sunny{
        font-size: 1.1rem;
    }
    .modal-content{
        font-size: 1.1rem;
        padding: 40px;
    }
    .closeModal{
        font-size: 32px;
    }
    ::-webkit-scrollbar{
        width: 6px;
        
    }

}

@media screen and (min-width: 912px) {
    .fimg{
        width: 82px;
        border-radius: 46px;
    }
    .myname{
        font-size: 1.5rem;
    }
    .profession{
        font-size: 1.4rem;
    }
    .logo{
        font-size: 3rem;
    }
    .nav li a svg{
        width: 38px;
        height: 38px;
    }
    .aside{
        width: 93%;
    }
    .introSection{
        line-height: 1.3;
        margin: 14% 10%;
    }
    .introSection .hello{
        font-size: 8rem;
    }
    .introSection h3 u{
        font-size: 6rem;
    }
    .introSection h3 span{
        font-size: 2rem;
    }
    .jym{
        font-size: 7rem;
    }
    .titlepage{
        font-size: 1.5rem;
    }
    .center_content{
        font-size: 1.5rem;
        padding-top: 40px;
        width: 92%;
        
    }
    .aboutme, .second_title{
        font-size: 2.2rem;
    }
    .intro{
        line-height: 1.5;
    }
    .dlcv2{
        font-size: 1.5rem;
        padding: 30px 40px;
    }
    .div_info_img{
        width: 530px;
        height: 580px;
    }
    .divinfo{
        padding: 30px 70px 50px 70px;
    }
    .myinfo span{
        font-size: 1.3rem;
    }
    .titlecontent{
        font-size: 1.7rem;
    }
    .titlecontent svg{
        width: 32px;
    }
    .schoolyear{
        margin-bottom: 10px;
    }
    .progress-bar{
        height: 24px;
        border-radius: 14px;
    }
    .ratings{
        font-size: 1.2rem;
    }
    .exp, .work{
        font-size: 1.7rem;
    }
    .projects_desc p{
        font-size: 1.4rem;
    }
    .projects_link_btn{
        width: 26%;
        margin-top: 20px;
        
    }
    .projects_link_btn ion-icon{
        font-size: 1.6rem;
    }
   
    .close_preview_box{
        font-size: 50px;
        top: -50px;
        right: 0;
    }
    .next_btn_projects, .prev_btn_projects{
        font-size: 5rem;
    }
    .service-container svg{
        width: 54px;
        height: 54px;
    }
    .service-work{
        font-size: 1.6rem;
    }
    .service-container{
        padding: 36px 46px;
    }
    .service-desc{
        font-size: 1.5rem;
    }
    .comments-container{
        width: 60%;
        margin: auto;
        padding: 30px 50px;
        
    }
    .comments{
        font-size: 1.5rem;
    }
    .others-comment{
        height: 60px;
        
    }
    .name-work{
        margin-bottom: 10px;
    }
    .comment-work{
        font-size: 1.3rem;
    }
    .name-profile svg{
        right: 140px;
        top: 26px;
        height: 70px;
        margin-left: 20px;
    }
    .contact_container p{
        font-size: 1.6rem;
    }
    .contact_container p span{
        font-size: 1.5rem;
    }
    .contact_container ion-icon{
        font-size: 4rem;
        padding: 36px 40px;
        border-radius: 74px;
    }
    .sendme{
        font-size: 1.6rem;
    }
    .input_contact, .input_contact::placeholder{
        font-size: 1.5rem;
    }
    .contact_input .submit_now{
        font-size: 1.5rem;
        padding: 28px 38px;
    }
    .socialstwo a ion-icon {
        font-size: 2.2rem;
    }
    footer{
        margin-left: 20px;
        
    }
    footer div{
        font-size: 1.5rem;
        
    }
    .dark-btn{
        padding: 20px;
    }
    .moon, .sunny{
        font-size: 1.5rem;
    }
    .modal-content{
        font-size: 1.5rem;
        padding: 60px;
        width: 60%;
    }
    .closeModal{
        font-size: 40px;
    }
    ::-webkit-scrollbar{
        width: 8px;
    }

}


@media screen and (min-width: 1024px) {
    header{
        display: none;
    }
    
    .leftside{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: fit-content;
        width: min-content;
        font-family: 'Poppins', sans-serif;
        background-color:#efece9;
        line-height: 1.7;
        border-radius: 14px;
        margin-top: 3%;
        box-shadow: 15px 15px 90px rgba(59,89,152,.1);
        
    }
    .darkmode--activated .leftside{
        box-shadow: none;
    }
    .logo2{
        display: block;
        font-size: 1.5rem;
        font-family: 'Black Ops One', cursive;
        letter-spacing: 1.5px;
        color: #c3b091;
        margin-bottom: 20px;
        isolation: isolate;
        cursor: pointer;
    }
    .fimg2{
        width: 200px;
        height: fit-content;
        border-radius: 14px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 16px;
        cursor: pointer;
    }
    .myname2{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .profession2{
        font-size: 0.75rem;
        color:  #333;
    }
    .socials a ion-icon{
        color:#6e2e1a;
        font-size: 1.3rem;
        isolation: isolate;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .socials a ion-icon:hover{
        scale: 1.15;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav li a{
        font-size: 0.7rem;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px 16px;
        margin-bottom: 8px;
        width: 80%;
    }
    .nav li a svg{
        width: 24px;
        height: 24px;
        margin-right: 6px;
    }
    .nav li a span{
        display: block;
        
    }
    .nav a.active{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: outset;
        border-width: 1px;
        border-color: #efece9;
        
    }
    section{
        height: 88vh;
        padding-left: 9%;
        padding-right: 9%;
        margin-top: 2%;
    }
    .aside{
        width: 38%;
        height: 60%;
        margin-top: 3%;
        padding: 5% 7%;
    }
    .introSection{
        margin: 0;
    }
    
    .introSection .hello{
        font-size: 5rem;
    }
    .introSection h3 u{
        font-size: 3rem;
    }
    .introSection h3 span{
        font-size: 1rem;
    }
    .jym{
        font-size: 4rem;
    }
    .titlepage{
        font-size: 0.9rem;
    }
    .center_content{
        font-size: 0.8rem;
        width:38%;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 14px;
        padding: 40px 40px;
        margin-top: 3%;
        box-shadow: 15px 15px 90px rgba(59,89,152,.1);
        
    }
    .darkmode--activated .center_content{
        box-shadow: none;
    }
    .aboutme, .second_title{
        font-size: 1.2rem;
    }
    .dlcv2{
        display: none;
    }
    .download-cv{
        display: block;
        
        background-color: #6e2e1a;
        color: #efece9;
        padding: 14px 28px;
        margin-top: 10px;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        border-width: 1px;
        border: none;
        cursor: pointer;
        isolation: isolate;
    }
    .download-cv:hover{
        scale: 1.03;
    }
    .a-download-cv{
        text-decoration: none;
    }
    
    .my_info_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .div_info_img{
        display: none;
        
    }
    .divinfo{
        margin-top:20px;
        margin-left: 0;
        width: 80%;
        border-radius: 20px;
        padding: 20px 40px;
        align-self: center;
    }
    .myinfo span{
        font-size: 0.9rem;
    }
    
    .titlecontent{
        font-size: 1rem;
    }
    
    .titlecontent svg{
        width: 14px;
        height: 14px;
    }
    .progress-bar{
        height: 8px;
    }
    .ratings{
        font-size: 0.75rem;
    }
    .exp, .work{
        font-size: 1rem;
    }
    .work span{
        padding: 6px 20px;
        border-radius: 30px;
    }
    .projects_grid{
        margin-left: 4%;
    }
    .projects_desc p{
        font-size: 0.75rem;
    }
    .projects_link_btn{
        width: 48%;
        margin-top: 4px;
    }
    .projects_link_btn ion-icon{
        font-size: 1rem;
    }
   
    .close_preview_box{
        font-size: 32px;
        top: -36px;
        right: 0;
    }
    .next_btn_projects, .prev_btn_projects{
        font-size: 3.5rem;
    }
    .service-container{
        padding: 20px 30px;
    }

    .service-container svg{
        width: 30px;
        height: 30px;
    }
    .service-work{
        font-size: 0.9rem;
    }
    .service-desc{
        font-size:0.8rem;
    }
    .comments-container{
        width: 60%;
    }
    .comment-work{
        font-size: 0.8rem;
    }
    .comments{
        font-size: 0.8rem;
    }
    .others-comment{
        margin-left: 0;
        width: 40px;
        height: 40px;
    }
    .name-profile svg{
        right: 30px;
        top: 20px;
        height: 50px;
    }
    
    .contact_container ion-icon{
        font-size: 2.5rem;
        padding: 20px 28px;
    }
    .contact_container p{
        font-size: 0.9rem;
    }
    .contact_container p span{
        font-size: 0.9rem;
    }
    
    .sendme{
        font-size: 1rem;
    }
    .input_contact, .input_contact::placeholder{
        font-size: 0.9rem;
    }
    .contact_input textarea{
        height: 180px;
    }
    .contact_input .submit_now{
        font-size: 0.9rem;
        padding: 10px 20px;
    }
    footer div{
        font-size: 0.9rem;
    }
    .socialstwo{
        display: none;
    }
    .dark-btn{
        padding: 12px;
        
    }
    .sunny,.moon{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1280px) {

    section{
        margin-top: 1.4%;
    }
    .logo2{
        font-size: 1.9rem;
 
    }
    .fimg2{
        width: 250px;
    }
    .myname2{
    font-size: 1.1rem;
    }
    .profession2{
    font-size: 1rem;
    }
    


    .introSection .hello{
        font-size: 5.7rem;
    }
    .introSection h3 u{
        font-size: 3.7rem;
    }
    .introSection h3 span{
        font-size: 1.5rem;
    }
    .jym{
        font-size: 4.7rem;
    }
    .titlepage{
        font-size: 1.1rem;
    }
    .center_content{
        font-size: 1.1rem;
        width:46%;
        padding: 40px 60px;
    }

    .aboutme, .second_title{
        font-size: 1.4rem;
    }


  
    
    .titlecontent svg{
        width: 18px;
        height: 18px;
    }
    .progress-bar{
    height: 12px;
    }
    

    .projects_desc p{
        font-size: 1rem;
    }



    .next_btn_projects, .prev_btn_projects{
        font-size: 3.5rem;
    }
    .service-container{
        padding: 20px 40px;
    }
    .service-work{
    font-size: 1.1rem;
    }
    .service-desc{
    font-size: 1rem;
    }


    .comment-work{
        font-size: 0.9rem;
    }
    .others-comment{
        margin-left: 0;
        width: 40px;
        height: 40px;
    }
    .name-profile svg{
        right: 70px;
        height: 60px;
    }
    
    
    .contact_container ion-icon{
        font-size: 2.6rem;
        padding: 22px 28px;
    }
    .sendme, .input_contact, .input_contact::placeholder{
        font-size: 1.1rem;
    }

    .contact_input .submit_now{
        padding:14px 28px;
    }
    footer{
        margin-left: 16%;
    }
    footer div{
        font-size: 1rem;
    }
    
}